*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family: 'Poppins', sans-serif;
    --secondary-font: 'Noto Sans', sans-serif;
    --heading-font: 'Montserrat', sans-serif;
    --primary-color: #1E90FF;
    --color-accent: #FBBF24;
    --color-text: #000000;
    --color-bg: #FFFFFF;
    --header-bg: #000000D9;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60%, 100% { transform: rotate(0deg); }
}
.animate-wave {
  /* display: inline-block; */
  transform-origin: bottom center;
  animation: wave 2s infinite ease-in-out;
}
